.upper_sect{
    display: flex;
    justify-content: space-between;
}

.wrapper1{
    margin-left: 70px;
    margin-right: 15px;
    /* border-bottom: 2px solid rgb(228, 225, 225); */
}

.profile2_name{
    margin-left: 2px;
    font-weight: 900;
    font-size: 17px;
}

.profile2_name_cntd{
    font-size: 12px;
    padding-top: 7px;
    color: #919EB6;
}

.detailss{
    display: flex;;
    width: 100%;
}

.profile_image{
    width: 35px;
}

.dots{
    padding-top: 25px;
    padding-right: 15px;
}

.comment2_content{
    font-size: 12px;
    padding-left: 35px;
}

.likes_pic{
    padding-left: 35px;
}

.likes_on_reply{
    display: flex;
    gap: 0.7rem;
}

.type_comm{
    padding: 0 16px;
    display: flex;
    color: #AFB9CA;
    justify-content: space-between;
    align-items: center;
}

.type_comm2{
    display: flex;
    gap: 2;
}

.placeholder{
    font-size: 12px;
    margin-left: 12px;
}

.comments_dots{
    width: 14px;
}