.comm_det{
    display: flex;
}

.comments_sec{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    margin-left: 16px;
    margin-right: 16px;
}

.chi{
    object-fit: contain;
    width: 16px;
    padding-bottom: 10px;
}

.name{
    padding-top: 5px;
    padding-left: 4px;
}

.comment{
    font-size: 12px;
    color: #313B49;
    margin-left: 60px;
}

.comm_lc{
    display: flex;
    gap:0.7rem;
}