.headline{
    font-weight: 900;
    font-size: 14px;
    font-family: 'Noto Sans';
}

.content{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.first_line,.second_line,.third_line{
    font-size: 12px;
    color: #313B49;
}