.arrow{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    left: 15.95px;
    top: 20.11px;
    margin-top: 13px;
    margin-left: 15px;
}

.rectangle{
    height: 48px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.noti{
    width: 19px;
    height: 20px;
    margin-top: 15px;
    margin-right: 19px;
}

.header_content{
    font-weight: 900;
}