.profile_feed{
    /* object-fit: contain; */
    width: 100vw;
    height: 70vh;
}

.Img_Section{
    margin-top: 20px;
    /* margin-left: 15px;
    margin-right: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}