.profile{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.left_con{
    display: flex;
    gap:20;
}

.right_con_btn{
    border-radius: 15px;
    color: white;
    border: none;
    background-color: #01B99F;
    margin-right: 20px;
    padding: 5px 15px;
}

.chu{
    margin-left: 5px;
}

.upper_detail{
    display: flex;
}

.bold{
    font-weight: 900;
    font-size: 14px;
}

.cover{
    object-fit: contain;
}

.weight{
    color: #919EB6;
}

.profile_img{
    margin-left: 15px;
}

.color_cng{
    color: #919EB6;
    font-size: 10px;
}

.details{
    margin-left: 3px;
    width: 150px;
}