.tag{
    background: #F7F8FA;
    border: 1px solid #a4a5a9;
    border-radius: 14px;
    color: #5A6B87;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
}

.tags_section{
    margin-top: 19px;
    margin-left: 15px;
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
}